@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url(images/benjamin-voros-StFUwkNsvcY-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin:0;
}

h1,.big-text,span{
    text-shadow: -1px -1px white;
    
}

h1{
    font-weight: 400;
    font-size: 3rem;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-weight: 200;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el{
    font-size: 1.5rem;
}

.countdown-el span{
    font-size: 1.3rem;
    font-weight: 400;
}